body {
  background-color: rgb(255, 255, 255);
}

// user section
h1 {
  font-size: 20px;
  font-weight: 500;
  font-family: poppins;
  color: rgb(4, 4, 4);
  margin-bottom: 2px;
  margin-top: 0px;
}

p {
  font-size: 15px;
  margin-top: 0px;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.avatar-large {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
}

.user-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p{
    margin: 0;
  }
}
//button for ingredient and cook
.submit-button {
  display: block;
  width: 100%;
  margin: 20px auto;
  margin-top: 10px;
  padding: 10px;
  background-color: #FE6D0E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: default;
}

//Add ingredients section
h3 {
  font-size: 14px;
  font-weight: 600;
  font-family: Helvetica;
  color: rgb(4, 4, 4);
  margin-bottom: 2px;
  margin-top: 0px;
  justify-content: flex-start;

}

.custom-placeholder::placeholder {
  color: #A9A9A9;
}

.container-input {
  display: flex;
  justify-content: center;
}

.align-box {
  margin-top: 10px;
  $size: 2rem;
  padding-left: $size;
  padding-right: $size;
}

.ingredient-checkbox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
// display: grid;
// grid-template-columns: 1fr 1fr;
}
