body {
  background-color: #f9f8f3;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//delete icon
.user-style-section {
  display: flex;
  justify-content:space-around;
  align-items: start;
  margin-top: 30px;
  margin-bottom: 50px;

  .user-info {
    display: flex;
    align-items: center;

    .avatar-large {
      margin-right: 10px;
      border-color: rgb(255, 235, 225);
    }

    .user-info-text {
      h1 {
        font-family: poppins;
        margin: 0;
      }

      p {
        margin: 0;
        color:#1a1a1a;
      }
    }
  }
.delete-icon {
  text-decoration: none;
}
  .trash-bin {
    display: flex;
    align-items: center;


    .delete-icon {
      font-size: 20px;
      color: #FE6D0E;
    }
  }
}
//button for ingredient and cook
.submit-button {
  display: block;
  width: 100%;
  margin: 20px auto;
  margin-top: 10px;
  margin-bottom: 45px;
  padding: 10px;
  background-color: #FE6D0E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: default;
}

.submit-button-btn {
  display: block;
  width: 100%;
  margin: 20px auto;
  margin-top: 20px;
  margin-bottom: 100px;
  padding: 10px;
  background-color: #FE6D0E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: default;
}

//Add ingredients section
h3 {
  font-size: 14px;
  font-weight: 600;
  font-family: Helvetica;
  color: rgb(4, 4, 4);
  margin-bottom: 2px;
  margin-top: 0px;
  justify-content: flex-start;
}

.custom-placeholder::placeholder {
  color: #A9A9A9;
}

.container-input {
  display: flex;
  justify-content: center;
}

.align-box {
  justify-content: center;
  margin-top: 10px;
  $size: 2rem;
  padding-left: $size;
  padding-right: $size;
  max-width: 800px;
}


.ingredient-checkbox{
  display: flex;
  flex-direction: column;
  gap: 1rem;
// display: grid;
// grid-template-columns: 1fr 1fr;
}

.custom-placeholder {
  background-color:rgb(255, 255, 255);
  border-color: #ffa76c;
}

h2 {
  font-family: poppins;
  font-weight: 500;
  font-size: 20px;
  padding:-10px;
  margin:0%;
}
