@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');


.navbar {
  overflow: hidden;
  background-color: #ffffff;
  border-top: #d7d7d7 1px solid;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  z-index: 1;
}

.navbar a {
  display: block;
  color: #d7d7d7;
  text-align: center;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 17px;
  i {
    font-size: 20px;
  }
}

.navbar a:hover {
  background: #f1f1f1;
  color: black;
  border-radius: 15px;
}

.navbar a.active {
  background-color: #FE6D0E;
  color: white;
  border-radius: 15px;
}
