

<div class="suggested-recipes">
  <h1 style="margin-top: 80px;">Choose one of these recipes:</h1>
  <% @recipes.each do |recipe| %>
    <div>
      <a href="/recipes/<%= recipe.id %>" class="recipe-wrapper">
        <div class="recipe-body">
           <h2><%= recipe.title %></h2>
        </div>
     </a>
    </div>
  <% end %>
</div>
