<div class="container" data-controller= "job-status" data-job-status-job-id-value = "<%= @job_id %>">
<div class="progress">
  <div class="progress-bar" data-job-status-target="bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="margin-top 50px">0%</div>
</div>
</div>
</div>

<video muted="" loop="" playsinline="" autoplay="" data-src="https://cdn.dribbble.com/users/1998175/screenshots/7184429/media/24ccc58b8b30005fc48ca8343f95e612.mp4" data-video-small="https://cdn.dribbble.com/users/1998175/screenshots/7184429/media/d4ac10e83012fd9a53f3ec969ebb1f84.mp4" data-video-medium="https://cdn.dribbble.com/users/1998175/screenshots/7184429/media/61f489854e9699e4f6d86b4b6f4244c5.mp4" data-video-large="https://cdn.dribbble.com/users/1998175/screenshots/7184429/media/24ccc58b8b30005fc48ca8343f95e612.mp4" src="https://cdn.dribbble.com/users/1998175/screenshots/7184429/media/61f489854e9699e4f6d86b4b6f4244c5.mp4"></video>
