
<div class="recipe-header">
<%= @recipe.title %>
</div>

<div class="recipe-body">
  <% @recipe.content.each_line.with_index(1) do |line, index| %>
    <% line_without_number = line.sub(/^\d+\.\s*/, '') %>
    <%= "#{index}: #{line_without_number.strip}" %> 
    <br>
  <% end %>
</div>
