<div class="navbar">
  <%= link_to root_path, class: "active" do %>
    <i class="fi-rr-home"></i>
  <% end %>

  <%= link_to "ingredients/fridgy" do %>
    <i class="fi-rr-refrigerator"></i>
  <% end %>

  <%= link_to "#favorites" do %>
    <i class="fi-rr-star"></i>
  <% end %>
</div>
