<div class="navbar">
  <a href="#home" class="active">
    <i class="fi fi-rr-home"></i>
  </a>
  <a href="#ingredients">
    <i class="fi fi-rr-refrigerator"></i>
  </a>
  <a href="#favorites">
    <i class="fi fi-rr-star"></i>
  </a>
</div>
