<div class="navbar">
  <%= link_to root_path, class: "active" do %>
    <i class="fi-rr-home"></i>
  <% end %>

  <%= link_to "#ingredients" do %>
    <i class="fi-rr-refrigerator"></i>
  <% end %>

  <%= link_to "/list_favorites" do %>
    <i class="fi-rr-star"></i>
  <% end %>
</div>
