<div class="container">
  <h1>Add a new ingredient</h1>

  <%= simple_form_for(@ingredient) do |f| %>
    <div class="Input-fields">
      <%= f.input :name %>
      <%= f.input :measurement %>
    </div>
    <%= f.submit "Add a new ingredient", class:"button"%>
  <% end %>
</div>
