<div class="container">
<h1 class="headline">Choose your cuisine</h1>

<%= form_with url: recipes_path, method: :post do |f| %>
  <div class="button-group">
    <% Ingredient::CATEGORIES.each do |category| %>
      <div class="button-wrapper">
        <%= radio_button_tag 'category', category, false, id: category %>
        <%= label_tag category, category, class: 'button-label' %>
      </div>
    <% end %>
    <%= f.submit 'Generate Recipe', class: 'submit-button-label' %>
  </div>
<% end %>
</div>
