<div class="container">
  <h1>Add a new ingredient</h1>

  <%= simple_form_for(@ingredient) do |f| %>
    <%= f.input :name %>
    <%= f.input :measurement %>
    <%= f.submit "Add a new ingredient" %>
  <% end %>
</div>
