  .header {
    text-align: center;
    margin: 50px;
  }

  .header h2 {
    color: #333;
  }

  .header h3 {
    color: #666;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th,
  td {
    padding: 5px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;

    p {
      display: inline;
    }
  }



  th {
    background-color: #FE6D0E;
    color: #ffffff;
  }

  #edit-ingredient,
  #delete-ingredient {
    cursor: pointer;
    color: #FE6D0E;
  }

  .modal-dialog {
    max-width: 400px;
  }

  .modal-header {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    padding: 10px 15px;
  }

  .modal-title {
    color: #333;
  }

  .modal-body {
    padding: 15px;
  }
