// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "new";
@import "suggestions";
@import "set_meal_types";
@import "set_category";
@import "recipe";
@import "fridgy";
@import "login";

