.recipe-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  width: 300px;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #d7d7d7;

  .recipe-image {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    margin-bottom: 10px;
  }
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipe-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}


