.recipe-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  width: 300px;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 1px solid #d7d7d7;

  .recipe-image {
    width: 300px;
    height: 200px;
    border-radius: 30px;
    border:#FE6D0E 2px solid;
  }
  h2 {
    text-align: center;
  }
  h3 {
    margin: 10px;
    text-align: center;
    font-size: 12px;
  }
}

.recipe-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#favorite-icon {
  color: #FE6D0E;
  font-size: 25px;
  margin-bottom: 20px;
}

#unfavorite-icon {
  color: #d7d7d7;
  font-size: 25px;
  margin-bottom: 20px;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
