.category-wrapper {
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.submit-button-thu {
  display: block;
  width: 300px;
  margin: 20px auto;
  margin-top: 30px;
  padding: 10px;
  background-color: #FE6D0E;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.category-item {
  flex: 0 0 30%;
  display: flex;
  border-radius: 10px;
  height: 110px;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 20px;
  gap: 30px;
  background-color: #CBCBCB;
  align-items: center;
  transition: background-color 0.3s ease;
}

.category-item.selected {
  background-color: #FE6D0E;
  color: white;
}

.category-item p {
  margin-top: 20px;
}

.meal-type-icon {
  height: 80px;
  width: 80px;
  margin-bottom: 10px;
}

.category-label {
  display: flex;
  align-items: center;
  width: 100%;
}

.category-selector {
  display: none;
}
