.container{
  display: block;
  align-content: center;
}

.wrapper {
  display: grid;
    font-size: 0.7rem;
    border-radius: 50rem;
    padding: 0.1rem 0.5rem;
    border: 1px solid #7E73FF;
    margin-right: 0.6rem;
    margin-bottom: 0.4rem;
    background-color: #7E73FF;
    color: white;

}
