.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.button-wrapper {
  position: relative;
}

input[type="radio"] {
  display: none;
}

.button-label {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #E0E0E0;
  cursor: pointer;
  text-align: center;
  min-width: 120px; /* Anpassbar je nach gewünschter Breite */
  margin: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type="radio"]:checked + .button-label {
  background-color: #333333; /* Farbe für ausgewählten Button */
  color: white;
}



.submit-button:hover {
  background-color: #E65C00; /* Hover-Effekt für den Button */
}

