/* Adjustments to fit your requirements */
.suggested-recipes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  margin-top: 50px;
  margin-bottom: 30;
}

.recipe-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(76, 76, 76, 0.3)), url('recipe.photo.key');
  background-size: cover;
  border: 1px solid #d7d7d7;
}

h2 {
  margin: 0;
  font-size: 20px;
  text-align: center;
  font-weight: 100;
}

.recipe-text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FE6D0E;
  padding: 10px;
}

.recipe-wrapper:hover {
  background-size: 110%;
  transition: background-size 0.5s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 20px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.recipe-text h2 {
  color: white;
  margin: 0;
  font-size: 18px;
  text-align: center;
}

/* Media Queries */
/* Smallest device */
@media (max-width: 575px) {
  .suggested-recipes {
    grid-template-columns: 1fr;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .suggested-recipes {
    grid-template-columns: 1fr;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .suggested-recipes {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .suggested-recipes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .suggested-recipes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
